In [3]:
import numpy as np
import pandas as pd
import csv

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
columns = len(df.columns)

In [9]:
print(columns)

10

In [10]:
df.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
20635,False,False,False,False,False,False,False,False,False,False
20636,False,False,False,False,False,False,False,False,False,False
20637,False,False,False,False,False,False,False,False,False,False
20638,False,False,False,False,False,False,False,False,False,False
20639,False,False,False,False,False,False,False,False,False,False

In [16]:
df['longitude'].isnull().count()

20640

In [33]:
columns_with_missing_data = df.columns[df.isnull().any()].tolist()

In [34]:
columns_with_missing_data

['total_bedrooms']

In [24]:
uniques = df['ocean_proximity'].nunique()

In [25]:
uniques

5

In [35]:
df['median_house_value'].mean()

206855.81690891474

In [36]:
df['ocean_proximity'] == 'True'

0        False
1        False
2        False
3        False
4        False
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Name: ocean_proximity, Length: 20640, dtype: bool

In [37]:
near_bay_houses = df[df['ocean_proximity'] == 'NEAR BAY']

In [39]:
average_median_house_value_near_bay = near_bay_houses['median_house_value'].mean()

In [40]:
average_median_house_value_near_bay

259212.31179039303

In [42]:

# mean of 'median_house_value' before filling missing values
mean_before_fill = df['median_house_value'].mean()

# Filling in the missing values in 'median_house_value' with a specific value (e.g.,1
df['median_house_value'].fillna(1, inplace=True)

# Calculate the mean of 'median' after filling in the missing values
mean_after_fill = df['median_house_value'].mean()

# Comparing the mean values
if mean_before_fill == mean_after_fill:
    print("No")
else:
    print("Yes")

No